@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-UI-Regular.woff2") format("woff2"),
       url("Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-UI-Italic.woff2") format("woff2"),
  url("Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-UI-Medium.woff2") format("woff2"),
       url("Inter-UI-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("Inter-UI-SemiBold.woff2") format("woff2"),
       url("Inter-UI-SemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-UI-Bold.woff2") format("woff2"),
       url("Inter-UI-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-UI-BoldItalic.woff2") format("woff2"),
  url("Inter-UI-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-UI-ExtraBold.woff2") format("woff2"),
       url("Inter-UI-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-UI-Black.woff2") format("woff2"),
       url("Inter-UI-Black.woff") format("woff");
}
